html {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(./Images/shingles.jpeg);
}

#brushes, #frames, #paint {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#frames {
  background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

#brushes {
  background-color: mediumspringgreen;
}

.price {
  color: blue;
  font-weight: bold;
}
